$fColor: #ec6e4c;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nonactive {
  color: rgb(151, 151, 151);
}
.cel {
  border-right: 1px solid white;
  line-height: 10px;
}
.slick-prev:before {
  color: rgba(0, 0, 0, 0.514) !important;
}
.slick-next:before {
  color: rgba(0, 0, 0, 0.514) !important;
}

.CustomBtn {
  .ant-btn-dangerous {
    border: 1px solid $fColor !important;
    color: $fColor !important;
    border-radius: 6px;
    &:hover {
      background-color: $fColor !important;
      color: white !important;
    }
  }
}
.ant-form {
  .ant-row {
    .ant-form-item-control {
      .ant-form-item-control-input {
        .ant-form-item-explain {
          .ant-form-item-explain-error {
            color: $fColor !important;
          }
        }
        .ant-form-item-control-input-content {
          a {
            color: $fColor;
            &:hover {
              color: #ec6f4cbe;
            }
          }
          .ant-checkbox-wrapper {
            color: white;
            margin-right: 29%;
            .ant-checkbox {
              background-color: rgba(255, 255, 255, 0.719);
              border-radius: 2px;
            }
            .ant-checkbox-checked {
              background-color: transparent;
            }
          }
          span {
            background-color: transparent;
            border: none !important;
            .ant-input-prefix {
              color: rgb(230, 230, 230);
              margin-right: 12px;
            }
          }
          input {
            color: white;
            background-color: transparent;
            &::placeholder {
              color: rgb(230, 230, 230);
            }
          }
        }
      }
    }
  }
}
.custInput {
  .ant-form-item-control {
    .ant-form-item-control-input {
      .ant-form-item-control-input-content {
        border-bottom: 1px solid rgba(255, 255, 255, 0.705) !important;
      }
    }
  }
}
.ant-form-item-explain-error {
  color: $fColor !important;
}

.ant-modal-root {
  .ant-modal-wrap {
    .ant-modal {
      .ant-modal-content {
        .ant-modal-header {
          .ant-modal-title {
            font-size: 20px;
          }
        }
        .ant-modal-body {
          height: 350px;
          overflow-y: scroll;
          .SearchBoxWrap {
            position: relative;
            .SearchInput {
              font-size: 22px;
              padding: 20px;
              border-radius: 8px;
              width: 440px;
              border: none;
              box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

              &:focus {
                outline: none;
              }
            }
            .searchIcon {
              position: absolute;
              left: 84%;
              top: 28%;
              font-size: 30px;
              color: grey;
            }
          }
          .searchResultBox {
            padding: 10px 16px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
            width: 438px;
            border-radius: 8px;
            .searchReasultCountry {
              font-size: 22px;
            }
            .searchReasultCapital {
              color: grey;
            }
          }
        }
      }
    }
  }
}
.ant-select {
  height: 100%;
  width: 25%;
  .ant-select-selector {
    height: 100%;
    font-size: 16px;
    line-height: 20px;
    margin: 0px;
    span {

      display: flex;
      align-items: center;
      input {
        height: 100%;

      }
    }
  }
}
