$fColor:#ec6e4c;
.timer{
    background-color: rgba(0, 0, 0, 0.336);
    padding: 26px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .timerHead{
      font-weight: bolder;
        color: $fColor;
        margin-top: 10px;
        margin-bottom: 16px;
    }
    .timerData{
      font-size: 56px;
      line-height: 56px;
      color: white;
      margin-top: 20px;
    }
  }