// .mainNavBarContainer{
//     background-color: black;
//     padding: 10px 20px;
//     .headLogo{
//         color: $fColor;
//         font-size: 30px;
//     }
// }

$fColor:#ec6e4c;


.navContainer {
    background-color: #08244e;
    color: white;
    padding: 8px 30px;
    font-size: 16px;
  }
  
  .navHead {
    font-size: 28px;
    font-weight: bold;
    color: $fColor;
  }
  .navHead:hover {
    color: white;
    opacity: 0.8;
  }
  .navMenu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navMenuItem {
    padding: 0 10px;
    color: white;
  }
  .navMenuItem:hover {
    color: white;
    opacity: 0.8;
  }
  .navBtn {
    display: flex;
    justify-content: end;
    align-items: center;
    .navBtnSub{
        font-size: 16px;    
        margin-left: 10px;
    }
  }
  .signBtn {
    background-color: transparent;
    border: 1px solid white;
    padding: 2px 10px;
    border-radius: 4px;
  }
  .signBtn:hover {
    cursor: pointer;
  }
  .navBtnContainer {
    margin: 0px 5px;
    color: white;
  }
  .navBtnContainer:hover {
    color: white;
    // opacity: 0.8;
  }
  
  .hamBurgerContainer {
    display: none;
  }
  
  .signOut{
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  
  
  #menuToggle {
    display: block;
    position: relative;
    top: 23px;
    left: 0px;
    padding-left: 20px;
  
    z-index: 1;
  
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a {
    text-decoration: none;
    color: #232323;
  
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover {
    color: tomato;
  }
  
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
  
    cursor: pointer;
  
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
  
    -webkit-touch-callout: none;
  }
  
  
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
  
    background: #cdcdcd;
    border-radius: 3px;
  
    z-index: 1;
  
    transform-origin: 4px 0px;
  
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #dfdfdf;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 110vw;
    height: 120vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
  
    background: #183c5d;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
  
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    color: white;
    padding: 10px 0;
    font-size: 22px;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  .navMenuMob{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    .activeLink{
      margin: 16px 0;
      .navBtn{
        display: flex;
        justify-content: start;
        
        button{
          color: white;
        }
      }
    }
  }
  
  @media screen and (max-width: 576px) {
    .navContainer {
      display: none;
    }
    .hamBurgerContainer {
      display: block;
      .hamBurgerContainerBox{
        display: flex;
        position: relative;
        background-color: #183c5d;
        height: 70px;
        .hamBurgerContainerLeft{
            width: 100%;
  
            .navigation{
              .menuToggle{
                
              }
            }
        }
        .hamBurgerContainerRight{
          position: absolute;
          left: 55%;
          top: 24%;
          z-index: 10;
        }
      }
    }
  }
  