$fColor:#ec6e4c;
.mainModal{
    .searchButton{
        background-color: white;
        border: none;
        color: $fColor;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .searchModel{
        p{
            color: red !important;
        }
    }
}