.main{
    // min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .form{
        margin: auto;
        .mainContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            .rowLeft{
                padding: 0 50px 0 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .leftHead{
                    font-size: 40px;
                    line-height: 40px;
                    color: orange;
                }
                .leftDes{
                    color: rgb(223, 223, 223);
                    line-height: 16px;
                    padding: 10px 0 14px 0;
                }
                .leftSignUp{
                }
            }
            .rowRight{
                padding: 0 20px 0 20px;
                .loginForm{
                    padding: 40px;
                    background-color: rgba(0, 0, 0, 0.233);
                    border-radius: 10px;
                    .formHead{
                        text-align: center;
                        font-size: 28px;
                        line-height: 26px;
                        padding-bottom:20px;
                        color: white;

                    }
                    
                }
            }
        }
    }
}