$fColor:#ec6e4c;
.rowOne {
    padding: 40px 40px 40px 40px;
    font-size: 16px;
    line-height: 18px;
    .rowOneRow {
      padding: 32px;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      .rowHead {
        font-size: 46px;
        line-height: 48px;
        text-align: center;
        font-weight: 600;
        color: white;
      }

      .desRow{
        padding: 30px;
        height: 100%;
        .degree{
        height: 100%;
          background-color: rgba(0, 0, 0, 0.336);
          padding: 26px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          .degreeLabel{
            font-weight: bolder;
            color: $fColor;
            // margin-bottom: 10px;
          }
          .degreeNum{
            font-size: 66px;
            line-height: 66px;
            color: white;
            display: flex;
            justify-content: center;
            padding-top: 8px;
            // position: relative;
            .o{
              font-size: 16px;
              line-height: 18px;
              // position: absolute;
              // top: 0;
              // left: 62%;
            }
            
          }
          .celFer{
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 18px;
            line-height: 18px;
            margin-top: 12px;
            
            button{
              background-color: transparent;
              border: none;
              cursor: pointer;
              &:hover{
                opacity: 0.6;
              }
            }
            
            
            
          }
        }
        .summary{
          height: 100%;
          margin: 0 30px;
          background-color: rgba(0, 0, 0, 0.336);
          padding-bottom: 22px;
          border-radius: 10px;
          display: flex;
          // align-items: center;
          justify-content: center;
          div{
            text-align: center;
            .summaryHead{
              font-weight: bolder;
              color: $fColor;
            }
            .summaryData{
              padding-top: 8px;
              color: white;
            }
          }
        }
        
      }
    }
    
  }