.mainCardContainer{
    background-color: lavender;
    border-radius: 8px;
    min-height: 250px;
    margin: 0 14px;
    padding: 24px 20px;
    .Name{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cityName{
            font-size: 18px;
            font-weight: bolder;
            color: white;
        }
        .countryName{
            background-color: #ec6e4c;
            color: white;
            font-size: 10px;
            padding:  2px 4px;
            border-radius: 6px;
        }
    }
    .dgeree{
        margin-top: 20px;
        display: flex;
        color: white;
        .dgereeNum{
            font-size: 52px;
            line-height: 52px;
        }
        .dgereeo{
            font-size: 14px;
            line-height: 16px;
            margin: 0 2px;
        }
        .dgereec{
            font-size: 26px;
            line-height: 22px;
        }
    }
    .tempImg{
        margin-left: -20px;
    }
    .summary{
        font-size: 14px;
        color: rgba(255, 255, 255, 0.753);
    }
}